.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 2%;
    padding-right: 2%;
}

.card img {
    max-width: 200px;
}